<div class="row animated fadeIn fast" *ngIf="clients?.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">No existen usuarios</div>
  </div>
</div>

<div
  class="container p-2 animated fadeIn fast border border-dark rounded"
  *ngIf="clients.length > 0"
>
  <h3>Clientes Registrados</h3>
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Tipo ID</th>
        <th scope="col">#Identificación</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha Creación</th>
        <th scope="col">Gestionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.typeId }}</td>
        <td>{{ client.identificationId }}</td>
        <td>{{ client.firtsNames }}</td>
        <td>{{ client.lastNames }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.dateOfBirth | date : "YYYY-MM-dd" }}</td>
        <td>{{ client.telephone }}</td>
        <td>{{ client.createdDate | date : "YYYY-MM-dd" }}</td>
        <td>
          <button
            (click)="viewClient(client.id)"
            type="button"
            class="btn btn-outline-primary btn-sm"
          >
            Gestionar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
