<!-- Modal -->
<div [ngClass]="_productService.oculto">
  <div
    class="modal fondo-negro animated fadeIn"
    style="display: block"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear productos para el cliente</h5>
          <strong>
            <p
              (click)="_productService.hideModal()"
              type="text"
              class="btn-close"
              aria-label="Close"
            >
              X
            </p>
          </strong>
        </div>
        <div class="modal-body">
          <div class="container">
            <form [formGroup]="forma" (ngSubmit)="guardar(idCli)">
              <div class="form-group row">
                <div class="form-group col-md-6" formGroupName="product">
                  <label for="nombres">Id Producto</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder=""
                    formControlName="id"
                    [class.is-invalid]="idProNoValid"
                    [(ngModel)]="sel"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">Tipo De Cuenta</label>
                  <select
                    id="inputState"
                    class="form-control"
                    name="tipocu"
                    formControlName="accountType"
                    [class.is-invalid]="accountyNoValid"
                    [(ngModel)]="selectedOrgMod"
                  >
                    <option>Seleccione un producto</option>
                    <option *ngFor="let product of products">
                      {{ product.productType }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6" formGroupName="client">
                  <label for="nombres">Id cliente</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder=""
                    formControlName="id"
                    [class.is-invalid]="idCliNoValid"
                    [(ngModel)]="idCli"
                  />
                </div>

                <div class="form-group col-md-6">
                  <label for="nombres">Numero Cuenta</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder=""
                    formControlName="accountNumber"
                    [class.is-invalid]="accountNuNoValid"
                    [(ngModel)]="numberAcco"
                  />
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                Crear Producto
              </button>
              <!-- <button type="button" class="btn btn-secondary">Cerrar</button> -->
            </form>
          </div>

          <hr />
          <pre>
            Estado del formulario: {{ forma.valid }}
            <br>
            Status: {{ forma.status }}
          </pre>
          <pre>
            {{ forma.value | json }}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
