<button
  (click)="_productService.showModal()"
  type="submit"
  class="btn btn-success col-md-3"
>
  Crear Producto
</button>
<hr />
<div class="row" *ngIf="load.accounts?.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      El cliente aun no tiene productos
    </div>
  </div>
</div>
<app-create-account [idCli]="load.id"></app-create-account>
<div *ngFor="let account of load.accounts">
  <form action="" class="list-group">
    <h5>{{ account.accountType }}</h5>
    <li class="list-group-item">
      Número de Cuenta: {{ account.accountNumber }}
    </li>
    <li class="list-group-item">Saldo: {{ account.accountBalance }}</li>
    <li class="list-group-item">Estado: {{ account.accountStatus }}</li>
    <li class="list-group-item">
      Fecha de creación: {{ account.createdDate }}
    </li>
  </form>
  <div class="d-flex align-items-center justify-content-end accions-buttons">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="movements(account.id, load.id)"
    >
      Estado Cuenta
    </button>
    <button
      type="button"
      class="btn btn-outline-success"
      [routerLink]="['create-client']"
    >
      Realizar Transacción
    </button>
    <button
      type="button"
      class="btn btn-outline-info"
      [routerLink]="['create-client']"
    >
      Cambiar Estado
    </button>
    <button type="button" class="btn btn-outline-danger">
      Cancelar Producto
    </button>
  </div>
</div>
