<button type="submit" class="btn btn-success col-md-3 form-control">
  Crear Producto
</button>
<hr />
<form action="">
  <ul class="list-group">
    <h4>Tipo de cuenta</h4>
    <li class="list-group-item">Número de Cuenta:</li>
    <li class="list-group-item">Saldo:</li>
    <li class="list-group-item">Estado:</li>
    <li class="list-group-item">Fecha de creación:</li>
  </ul>
  <div class="d-flex align-items-center justify-content-end accions-buttons">
    <button type="button" class="btn btn-outline-primary">Estado Cuenta</button>
    <button type="button" class="btn btn-outline-success">
      Realizar Transacción
    </button>
    <button type="button" class="btn btn-outline-info">Cambiar Estado</button>
    <button type="button" class="btn btn-outline-danger">
      Cancelar Producto
    </button>
  </div>
</form>
