<!-- uso de ngModel para mapear el modelo -->
<div class="border border-dark animated fadeIn fast">
  <form class="border border-dark rounded col-md-3" name="form1">
    <h2>{{ title }}</h2>
    <hr />
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nombres">Nombres</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="firts"
          [(ngModel)]="load.firtsNames"
        />
      </div>
      <div class="form-group col-md-12">
        <label for="formGroupExampleInput2">Apellidos</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="apellidos"
          [(ngModel)]="load.lastNames"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Tipo Identificación</label>
        <select
          id="inputState"
          class="form-control"
          name="tipo"
          [(ngModel)]="load.typeId"
        >
          <option selected>Selecciona</option>
          <option>CC</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="identificacion">Identificacion</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="identificacion"
          [(ngModel)]="load.identificationId"
        />
      </div>
      <div class="form-group col-md-7">
        <label for="inputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="load.email"
        />
      </div>
      <div class="form-group col-md-5">
        <label class="form-label" for="phone">Phone number</label>
        <input
          type="text"
          class="form-control"
          data-mdb-input-mask="+48 999-999-999"
          name="telefono"
          [(ngModel)]="load.telephone"
        />
      </div>
      <div class="form-group col-md-12 datepicker">
        <label for="form-label">Fecha de nacimiento</label>
        <input
          type="date"
          name="fechaNacimiento"
          class="form-control"
          [(ngModel)]="load.dateOfBirth"
          (ngModelChange)="load.dateOfBirth = $event"
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary col-md-5 form-control"
      (click)="updateClient()"
    >
      Actualizar
    </button>
    <button
      type="submit"
      class="btn btn-danger col-md-6 form-control"
      (click)="deleteClient(load)"
    >
      Eliminar
    </button>
  </form>
</div>
